<form ng-controller="ClientController" action="submit">
  <div class="form-group">
    Dados Pessoais:
    <input type="text" class="form-control" id="name" placeholder="Nome">
    <input type="text" class="form-control" id="lastname" placeholder="Sobrenome">
    <input type="text" class="form-control" id="cpf" placeholder="CPF">
  </div>
  <div>
    Endereço:
    <input type="text" class="form-control" id="line1" placeholder="Linha 1">
    <input type="text" class="form-control" id="line2" placeholder="Linha 2">
    <input type="text" class="form-control" id="bairro" placeholder="Bairro">
    <input type="text" class="form-control" id="city" placeholder="Cidade">
    <input type="text" class="form-control" id="zip" placeholder="CEP">
  </div>
  <div>
    Contato:
    <input type="text" class="form-control" id="telefone" placeholder="Telefone">
    <input type="text" class="form-control" id="email" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
