<form ng-controller="ClientController" action="submit">
  <div class="form-group">
    Cliente:
    <input type="text" class="form-control" id="name" placeholder="Nome do Cliente">
  </div>
  <div class="container">
    Adicionar produto:
    <input type="text" class="form-control" id="product" placeholder="Produto">
    <input type="text" class="form-control" id="quant" placeholder="Quantidade">
    <input type="text" class="form-control" id="des" placeholder="Desconto">
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <br>
    Produtos:
    <hr>
    <div>
    </div>
    Preço Total: R$ 0,00
  </div>
  <button type="submit" class="btn btn-primary">Finalzar</button>
</form>
